*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}


  body::after {
    content: "";
    background: url("https://wallpapercave.com/wp/wp8813120.jpg");
    background-color: #f6f8fc;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
  }


.title {
    text-align: center;
    height: 300px;
    width: auto;

}

.content {
    width: 100vw;
    padding: 1rem;
    height: 100vh;
}

